Amazon_product_macbook_m4_tracking.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.spreadsheet_url }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Products to Monitor",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hRv-TBXrpN6rkIU65WorttNHt-IPWas_An0sF4Of39U/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1152,
        384
      ],
      "id": "4b8fe04d-5840-4915-97da-0e3dceefd583",
      "name": "Products to Monitor",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "a41SQIgwMqaTeh0l",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1360,
        384
      ],
      "id": "33d44720-7cd7-4537-8a28-7b4b2d425079",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "https://proxy.scrapeops.io/v1/structured-data/amazon/product",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "4b1aabda-adc3-48e7-a5cb-654f892d8195"
            },
            {
              "name": "url",
              "value": "https://www.amazon.in/Apple-MacBook-13-inch-10-core-Unified/dp/B0DZDX3JF4/?_encoding=UTF8&ref_=pd_hp_d_atf_ci_mcx_mr_ca_hp_atf_d"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1824,
        528
      ],
      "id": "9c9cb52a-7148-47c3-8f8a-7b89230fef55",
      "name": "Scrapeops - Amazon Product"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae829540-06b7-4ea8-a5f8-d2750b02c530",
              "name": "name",
              "value": "={{ $json.data.name }}",
              "type": "string"
            },
            {
              "id": "4dec41ce-3522-481b-985f-455c858702e0",
              "name": "pricing",
              "value": "={{ parseFloat(($json.data.pricing || \"\").replace(/[^\\d.-]/g, \"\")) || 0 }}",
              "type": "number"
            },
            {
              "id": "ebb64d89-e9b2-4384-9778-fce8aa9eb3be",
              "name": "product_url",
              "value": "=https://www.amazon.com/dp/{{ $('Loop Over Items').item.json.asin }}?th=1&psc=1",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2048,
        528
      ],
      "id": "218963f5-be14-4142-b462-a3413eec252e",
      "name": "Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db85d431-5631-4629-99f8-426ec3d7ecc7",
              "name": "last_pricing",
              "value": "={{ $json.pricing }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1584,
        528
      ],
      "id": "93c0ee4e-3d04-476a-8ff6-10e87ac5530f",
      "name": "Last Price"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4ef9bde2-62d3-4d6a-9759-4ae6c13db127",
              "name": "price_change",
              "value": "={{ \n  $('Last Price').item.json.last_pricing !== \"\" && $('Last Price').item.json.last_pricing !== undefined ? \n  ($json.pricing - $('Last Price').item.json.last_pricing).toFixed(2) : \n  0 \n}}",
              "type": "number"
            },
            {
              "id": "02e5a84b-76bf-4511-a78d-c725882a64dc",
              "name": "percent_change",
              "value": "={{ \n  $('Last Price').item.json.last_pricing !== \"\" && $('Last Price').item.json.last_pricing !== undefined && parseFloat($('Last Price').item.json.last_pricing) !== 0 ? \n  ((($json.pricing - $('Last Price').item.json.last_pricing) / $('Last Price').item.json.last_pricing)).toFixed(2) : \n  0 \n}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2528,
        432
      ],
      "id": "c9af6e22-9341-4ee6-987f-ee46b533f053",
      "name": "Price Change"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fd261f8a-8417-4fdb-95de-bd71768300e6",
              "name": "alert_status",
              "value": "={{ \n  $json.percent_change > $('Loop Over Items').item.json.alert_threshold_high ? \n  \"High\" : \n  ($json.percent_change < $('Loop Over Items').item.json.alert_threshold_low ? \n    \"Low\" : \n    \"\")\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2704,
        432
      ],
      "id": "455af06e-a576-4398-9da5-36c60a1a211b",
      "name": "Alert Status"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Setup').item.json.spreadsheet_url }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Price History",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "asin": "={{ $('Loop Over Items').item.json.asin }}",
            "timestamp": "={{$now.format(\"MM/dd/yyyy HH:mm:ss\")}}",
            "pricing": "={{ $('Scrapeops - Amazon Product').item.json.data.pricing.replace(/[^\\d.]/g, '') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "asin",
              "displayName": "asin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pricing",
              "displayName": "pricing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3120,
        432
      ],
      "id": "c22532e9-5cf0-4a18-803b-6c6110c53839",
      "name": "Insert - Price History",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "a41SQIgwMqaTeh0l",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Setup').item.json.spreadsheet_url }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Products to Monitor",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "asin": "={{ $('Loop Over Items').item.json.asin }}",
            "name": "={{ $('Scrapeops - Amazon Product').item.json.data.name }}",
            "average_rating": "={{ $('Scrapeops - Amazon Product').item.json.data.average_rating }}",
            "product_url": "=https://www.amazon.com/dp/{{ $('Loop Over Items').item.json.asin }}?th=1&psc=1",
            "pricing": "={{ $('Scrapeops - Amazon Product').item.json.data.pricing.replace(/[^\\d.]/g, '') }}",
            "price_change": "={{ $('Price Change').item.json.price_change }}",
            "percent_change": "={{ $('Price Change').item.json.percent_change }}",
            "alert_status": "={{ $json.alert_status }}",
            "last_updated": "={{$now.format(\"MM/dd/yyyy HH:mm:ss\")}}"
          },
          "matchingColumns": [
            "asin"
          ],
          "schema": [
            {
              "id": "asin",
              "displayName": "asin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "alert_threshold_low",
              "displayName": "alert_threshold_low",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "alert_threshold_high",
              "displayName": "alert_threshold_high",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "average_rating",
              "displayName": "average_rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "product_url",
              "displayName": "product_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pricing",
              "displayName": "pricing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "price_change",
              "displayName": "price_change",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "percent_change",
              "displayName": "percent_change",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "alert_status",
              "displayName": "alert_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_updated",
              "displayName": "last_updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2912,
        432
      ],
      "id": "f34ba3ad-4e22-445c-a6a6-7e7cbc2e22fa",
      "name": "Update - Products to Monitor",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "a41SQIgwMqaTeh0l",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "={{ $('Setup').item.json.from_email }}",
        "toEmail": "={{ $('Setup').item.json.to_email }}",
        "subject": "=Amazon Price Tracker Alert: {{ $('Update - Products to Monitor').item.json.name }} Price Change Detected",
        "emailFormat": "both",
        "text": "Hey Ajay!\nGreat indian festival offer on Macbook M4 \nhttps://www.amazon.in/Apple-MacBook-13-inch-10-core-Unified/dp/B0DZDX3JF4/?_encoding=UTF8&ref_=pd_hp_d_atf_ci_mcx_mr_ca_hp_atf_d",
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n    <style>\n        body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n        .container { max-width: 600px; margin: 0 auto; padding: 20px; background: #fff; }\n        .header { text-align: center; padding-bottom: 15px; border-bottom: 1px solid #eee; }\n        .price-up { color: #d64541; font-weight: bold; }\n        .price-down { color: #27ae60; font-weight: bold; }\n        .price-details { background: #f5f5f5; padding: 15px; margin: 15px 0; border-radius: 5px; }\n    .button {\n        display: block;\n        background-color: #2c3e50;\n        color: white !important; \n        text-decoration: none;\n        text-align: center;\n        padding: 10px;\n        border-radius: 4px;\n        margin: 20px auto;\n        width: 200px;\n        font-weight: bold;\n    }\n    .button:visited {\n        color: white !important;\n        background-color: #2c3e50 !important;\n        text-decoration: none !important;\n    }\n    .button:hover {\n        background-color: #34495e !important;\n        text-decoration: none !important;\n    }\n    .footer { font-size: 12px; color: #999; text-align: center; margin-top: 20px; border-top: 1px solid #eee; padding-top: 15px; }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>Price Alert</h1>\n            <p>We've detected a significant price change for an item you're tracking</p>\n        </div>\n\n        <div class=\"price-details\">\n            <h2 class=\"{{ $('Alert Status').item.json.alert_status === 'High' ? 'price-up' : 'price-down' }}\">\n                {{ $('Alert Status').item.json.alert_status === 'High' ? 'Price Increased by ' : 'Price Decreased by ' }} \n                {{ (Math.abs($('Update - Products to Monitor').item.json.percent_change  * 100).toFixed(2)) }}%\n            </h2>\n            \n            <h3>{{ $('Update - Products to Monitor').item.json.name }}</h3>\n            <p>ASIN: {{ $json.asin }}</p>\n            \n            <table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\">\n                <tr>\n                    <th align=\"left\">Previous Price</th>\n                    <th align=\"left\">Current Price</th>\n                    <th align=\"left\">Difference</th>\n                </tr>\n                <tr>\n                    <td>${{ $('Last Price').item.json.last_pricing.toFixed(2) }}</td>\n                    <td>${{ $('Update - Products to Monitor').item.json.pricing }}</td>\n                    <td>{{ \n                      $('Update - Products to Monitor').item.json.price_change >= 0 \n                        ? '$' + $('Update - Products to Monitor').item.json.price_change.toFixed(2) \n                        : '- $' + Math.abs($('Update - Products to Monitor').item.json.price_change).toFixed(2) \n                    }}</td>\n                </tr>\n            </table>\n            \n            <p>Last updated: {{ $('Insert - Price History').item.json.timestamp }}</p>\n        </div>\n\n        <a href=\"{{ $('Update - Products to Monitor').item.json.product_url }}\" class=\"button\">View Product</a>\n\n        <div class=\"footer\">\n            <p>This alert was generated by Amazon Price Tracker, your automated price monitoring system.</p>\n            <p>© 2025 ScrapeOps. All rights reserved.</p>\n        </div>\n    </div>\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        3664,
        720
      ],
      "id": "175618bc-07a2-4f06-8389-65dcebbb42c9",
      "name": "Send Email",
      "webhookId": "c0eb28fe-1c74-4692-9701-3790014c8951",
      "credentials": {
        "smtp": {
          "id": "Q55wHWyjRoajOEZS",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f9d540d5-bc09-4970-904d-34977192b771",
              "leftValue": "={{ $json.pricing }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2272,
        528
      ],
      "id": "ddb5488d-d0f7-4c18-9002-5da6649d3f4a",
      "name": "Check Valid Price"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6b1f16aa-dd42-4889-9c07-7fdba5a56067",
              "leftValue": "={{ $('Alert Status').item.json.alert_status }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3344,
        560
      ],
      "id": "f099880a-9859-47ae-95dc-6bfd7624c680",
      "name": "Alert Decision"
    },
    {
      "parameters": {
        "content": "# Amazon Product Price Tracker\n\nThis workflow automates price monitoring for Amazon products using the ScrapeOps API. It tracks price changes over time, alerts you when prices cross your defined thresholds, and maintains a historical record of all price movements.\n\n## Features\n- Scheduled price checks for multiple Amazon products\n- Price change calculations (absolute and percentage)\n- Smart alerting based on customizable thresholds\n- Automated email notifications with detailed price information\n- Historical price tracking for trend analysis",
        "height": 360,
        "width": 660,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "c1ddb239-19c6-4994-8412-ac611cf75dd4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## API Configuration\nThis workflow requires a ScrapeOps API key to fetch Amazon product data.\nTo obtain your API key, register at https://scrapeops.io/app/register/main\n\n## API Documentation\nFor detailed information about the Amazon Product API endpoint used in this workflow,\nrefer to the official documentation at:\nhttps://scrapeops.io/docs/data-api/amazon-product-api/\nThe documentation provides details on all available parameters, response formats,\nand best practices for optimizing your API usage.\n\n## Integration Setup\nOnce registered, insert your API key in the \"Scrapeops - Amazon Product\" node parameters.\nThis workflow uses the structured data endpoint which returns clean, parsed product data\nin a consistent JSON format.\n\n## Google Sheets Configuration\nA Google Sheets spreadsheet is used to store the product data collected through this workflow.\nThe original template spreadsheet is shared in read-only mode through this link:\nhttps://docs.google.com/spreadsheets/d/1hRv-TBXrpN6rkIU65WorttNHt-IPWas_An0sF4Of39U\n\nTo use this workflow:\n1. Access the shared spreadsheet using the link above\n2. Make your own copy by going to File > Make a copy\n3. Share your copy with appropriate permissions\n4. In the n8n workflow, locate the \"Setup\" node\n5. Update the \"spreadsheet_url\" variable with the link to YOUR copy of the spreadsheet\n\nThis ensures each user works with their own separate spreadsheet, avoiding data overlap \nbetween different users while maintaining the original structure needed by the workflow.",
        "height": 740,
        "width": 660,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        400
      ],
      "id": "6a3bba22-c657-4c5e-b0c4-ebfd54d6fb24",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f1a8857-9ecc-4fcd-8803-4494ca230ae4",
              "name": "spreadsheet_url",
              "value": "https://docs.google.com/spreadsheets/d/1vy3amTGFQQiFTgDweploJ8i8G_08pff3ueetpdbHJ4M/edit?usp=sharing",
              "type": "string"
            },
            {
              "id": "bbe91759-984c-4d62-b832-b37d84997211",
              "name": "scrapeops_apikey",
              "value": "4b1aabda-adc3-48e7-a5cb-654f892d8195",
              "type": "string"
            },
            {
              "id": "29428dd3-8659-43d0-a888-1e2ee7c37ab8",
              "name": "from_email",
              "value": "22891a7633ajaykumar@gmail.com ",
              "type": "string"
            },
            {
              "id": "d39032ee-895d-436e-9948-355d37abb740",
              "name": "to_email",
              "value": "miryalaa47@gmail.com",
              "type": "string"
            },
            {
              "id": "8ddc0746-2853-48bf-b214-c01f09c00c28",
              "name": "to_msg",
              "value": 9848432979,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        384
      ],
      "id": "3854aadb-dc64-4c8d-b779-ddc9ae40caa8",
      "name": "Setup"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        720,
        400
      ],
      "id": "fe75f11d-392b-470f-b19e-1215f476c7c2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1008,
        864
      ],
      "id": "66c423cf-06aa-4eb7-8da1-0e5a4370d623",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "connections": {
    "Products to Monitor": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Last Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrapeops - Amazon Product": {
      "main": [
        [
          {
            "node": "Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fields": {
      "main": [
        [
          {
            "node": "Check Valid Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Last Price": {
      "main": [
        [
          {
            "node": "Scrapeops - Amazon Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Price Change": {
      "main": [
        [
          {
            "node": "Alert Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Status": {
      "main": [
        [
          {
            "node": "Update - Products to Monitor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update - Products to Monitor": {
      "main": [
        [
          {
            "node": "Insert - Price History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert - Price History": {
      "main": [
        [
          {
            "node": "Alert Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Valid Price": {
      "main": [
        [
          {
            "node": "Price Change",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Decision": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup": {
      "main": [
        [
          {
            "node": "Products to Monitor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Setup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3f9d7d22-9c7b-4da0-9c29-2831457cc4b6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "804f243d1a487c8ebef0540b566727ed21af2e893e77a961c8a635e2c181b4d7"
  },
  "id": "2f4ToPMeG1o7VvDp",
  "tags": []
}